<!DOCTYPE html>
<html lang='en'>

<head>
	<meta 
		name="description" 
		content="Game Selection Assistant - An online library of games, 
		representing a user’s collection, that they can use to determine 
		what they wish to play next ">

	<title>{% block title %}{% endblock %} - GameSelectionAssistant</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<nav>
	    <h1>Game Selection Assistant</h1>

	    <ul>
	        {% if g.user %}
	            <li> <a href="{{ url_for('collection.view') }}" > Home </a> </li>
	            <li> <a href="{{ url_for('auth.account') }}" > {{ g.user['name'] }} </a> </li>
	            <li> <a href="{{ url_for('auth.logout') }}"> Log Out </a> </li>
	        {% else %}
	        	<li> <a href="{{ url_for('auth.register') }}"> Register </a> </li>
	        	<li> <a href="{{ url_for('auth.login') }}"> Log In </a> </li>
	        {% endif %}
		</ul>

		<form action="{{ url_for('search.search') }}">
			<input type="text" name="q" id="game" placeholder="search..." required>
		</form>
	</nav>

	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>

		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}

		{% block content %}{% endblock %}
	</section>
</body>

</html>